.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
}
.hero__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #212121;
}
.hero__text {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;

  text-align: center;
  color: #2b2b2b;
}

.hero__button {
  display: block;
  margin: 0 auto;
  border: none;
  width: 177px;
  height: 50px;
  background-color: #bb1219;
  font-family: Inter;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #fff7f7;
}
