<section class="complited">
    <div class="container complited__container">
        <h2 class="title title__line complited__title">ВЫПОЛНЕННЫЕ ПРОЕКТЫ</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/complited-work/hd/example.jpg 1x, ./images/complited-work/hd/example-x2.jpg 2x"
                            media="(min-width:1920px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/desktop/example.jpg 1x, ./images/complited-work/desktop/example-x2.jpg 2x"
                            media="(min-width:1200px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/tablet/example.jpg 1x, ./images/complited-work/tablet/example-x2.jpg 2x"
                            media="(min-width:768px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/mobile/example.jpg 1x, ./images/complited-work/mobile/example-x2.jpg 2x"
                            media="(max-width:767px)" type="image/jpg" />
                        <img src="./images/complited-work/mobile/example.jpg" alt="Щитовая" width="290" loading="lazy">
                    </picture>
                    <div class="complited__wrap">
                        <div class="complited__content-wrapper">
                            <h3 class="complited__name">
                                ЖК Вавилово
                            </h3>
                            <ul class="complited__list">
                                <li class="complited__list-item">
                                    <span class="complited__data">
                                        Дата завершения проекта:
                                    </span>
                                    <p class="complited__text">
                                        2020 г.
                                    </p>
                                </li>
                                <li class="complited__list-item">
                                    <span class="complited__data">
                                        Сайт:
                                    </span>
                                    <p class="complited__text">
                                        https://nku.su/
                                    </p>
                                </li>
                                <li class="complited__list-item">
                                    <span class="complited__data">
                                        Адрес:
                                    </span>
                                    <p class="complited__text">
                                        г. Москва, ул. Архитектора Власова, д. 6
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <p class="complited__text">
                            Выполнены работы по программированию, пуско-наладке и диспетчеризации 29 щитов
                            управления
                            системами кондиционирования,
                            приточно-вытяжной вентиляции, тепловых завес и контроля загазованности.
                            Использовались
                            контроллеры компании Segnetics -
                            SMH2G и Pixel.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/complited-work/hd/example.jpg 1x, ./images/complited-work/hd/example-x2.jpg 2x"
                            media="(min-width:1920px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/desktop/example.jpg 1x, ./images/complited-work/desktop/example-x2.jpg 2x"
                            media="(min-width:1200px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/tablet/example.jpg 1x, ./images/complited-work/tablet/example-x2.jpg 2x"
                            media="(min-width:768px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/mobile/example.jpg 1x, ./images/complited-work/mobile/example-x2.jpg 2x"
                            media="(max-width:767px)" type="image/jpg" />
                        <img src="./images/complited-work/mobile/example.jpg" alt="Щитовая" width="290" loading="lazy">
                    </picture>
                    <div class="complited__wrap">
                        <h3 class="complited__name">
                            ЖК Вавилово
                        </h3>
                        <ul class="complited__list">
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Дата завершения проекта:
                                </span>
                                <p class="complited__text">
                                    2020 г.
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Сайт:
                                </span>
                                <p class="complited__text">
                                    https://nku.su/
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Адрес:
                                </span>
                                <p class="complited__text">
                                    г. Москва, ул. Архитектора Власова, д. 6
                                </p>
                            </li>
                        </ul>
                        <p class="complited__text">
                            Выполнены работы по программированию, пуско-наладке и диспетчеризации 29 щитов
                            управления
                            системами кондиционирования,
                            приточно-вытяжной вентиляции, тепловых завес и контроля загазованности.
                            Использовались
                            контроллеры компании Segnetics -
                            SMH2G и Pixel.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/complited-work/hd/example.jpg 1x, ./images/complited-work/hd/example-x2.jpg 2x"
                            media="(min-width:1920px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/desktop/example.jpg 1x, ./images/complited-work/desktop/example-x2.jpg 2x"
                            media="(min-width:1200px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/tablet/example.jpg 1x, ./images/complited-work/tablet/example-x2.jpg 2x"
                            media="(min-width:768px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/mobile/example.jpg 1x, ./images/complited-work/mobile/example-x2.jpg 2x"
                            media="(max-width:767px)" type="image/jpg" />
                        <img src="./images/complited-work/mobile/example.jpg" alt="Щитовая" width="290" loading="lazy">
                    </picture>
                    <div class="complited__wrap">
                        <h3 class="complited__name">
                            ЖК Вавилово
                        </h3>
                        <ul class="complited__list">
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Дата завершения проекта:
                                </span>
                                <p class="complited__text">
                                    2020 г.
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Сайт:
                                </span>
                                <p class="complited__text">
                                    https://nku.su/
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Адрес:
                                </span>
                                <p class="complited__text">
                                    г. Москва, ул. Архитектора Власова, д. 6
                                </p>
                            </li>
                        </ul>
                        <p class="complited__text">
                            Выполнены работы по программированию, пуско-наладке и диспетчеризации 29 щитов
                            управления
                            системами кондиционирования,
                            приточно-вытяжной вентиляции, тепловых завес и контроля загазованности.
                            Использовались
                            контроллеры компании Segnetics -
                            SMH2G и Pixel.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/complited-work/hd/example.jpg 1x, ./images/complited-work/hd/example-x2.jpg 2x"
                            media="(min-width:1920px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/desktop/example.jpg 1x, ./images/complited-work/desktop/example-x2.jpg 2x"
                            media="(min-width:1200px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/tablet/example.jpg 1x, ./images/complited-work/tablet/example-x2.jpg 2x"
                            media="(min-width:768px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/mobile/example.jpg 1x, ./images/complited-work/mobile/example-x2.jpg 2x"
                            media="(max-width:767px)" type="image/jpg" />
                        <img src="./images/complited-work/mobile/example.jpg" alt="Щитовая" width="290" loading="lazy">
                    </picture>
                    <div class="complited__wrap">
                        <h3 class="complited__name">
                            ЖК Вавилово
                        </h3>
                        <ul class="complited__list">
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Дата завершения проекта:
                                </span>
                                <p class="complited__text">
                                    2020 г.
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Сайт:
                                </span>
                                <p class="complited__text">
                                    https://nku.su/
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Адрес:
                                </span>
                                <p class="complited__text">
                                    г. Москва, ул. Архитектора Власова, д. 6
                                </p>
                            </li>
                        </ul>
                        <p class="complited__text">
                            Выполнены работы по программированию, пуско-наладке и диспетчеризации 29 щитов
                            управления
                            системами кондиционирования,
                            приточно-вытяжной вентиляции, тепловых завес и контроля загазованности.
                            Использовались
                            контроллеры компании Segnetics -
                            SMH2G и Pixel.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./images/complited-work/hd/example.jpg 1x, ./images/complited-work/hd/example-x2.jpg 2x"
                            media="(min-width:1920px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/desktop/example.jpg 1x, ./images/complited-work/desktop/example-x2.jpg 2x"
                            media="(min-width:1200px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/tablet/example.jpg 1x, ./images/complited-work/tablet/example-x2.jpg 2x"
                            media="(min-width:768px)" type="image/jpg" />
                        <source
                            srcset="./images/complited-work/mobile/example.jpg 1x, ./images/complited-work/mobile/example-x2.jpg 2x"
                            media="(max-width:767px)" type="image/jpg" />
                        <img src="./images/complited-work/mobile/example.jpg" alt="Щитовая" width="290" loading="lazy">
                    </picture>
                    <div class="complited__wrap">
                        <h3 class="complited__name">
                            ЖК Вавилово
                        </h3>
                        <ul class="complited__list">
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Дата завершения проекта:
                                </span>
                                <p class="complited__text">
                                    2020 г.
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Сайт:
                                </span>
                                <p class="complited__text">
                                    https://nku.su/
                                </p>
                            </li>
                            <li class="complited__list-item">
                                <span class="complited__data">
                                    Адрес:
                                </span>
                                <p class="complited__text">
                                    г. Москва, ул. Архитектора Власова, д. 6
                                </p>
                            </li>
                        </ul>
                        <p class="complited__text">
                            Выполнены работы по программированию, пуско-наладке и диспетчеризации 29 щитов
                            управления
                            системами кондиционирования,
                            приточно-вытяжной вентиляции, тепловых завес и контроля загазованности.
                            Использовались
                            контроллеры компании Segnetics -
                            SMH2G и Pixel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>