<header class="header">
      <div class="container">
        <a href="./index.html" class="header__logo">
          <img src="./images/logo-nku.jpg" alt="Логотип компании" width="200" />
        </a>
        <nav class="header-nav">
          <ul>
            <li class="header-nav__item"><a href="" class="header-nav__link">О компании</a></li>
            <li class="header-nav__item"><a href="" class="header-nav__link">Проекты</a></li>
            <li class="header-nav__item"><a href="" class="header-nav__link">Отзывы</a></li>
            <li class="header-nav__item"><a href="" class="header-nav__link">Контакты</a></li>
          </ul>
          <ul class="header-contacts">
            <li class="header-contacts__item">
              <a href="mailto:info@nku.su" class="header-contacts__link">info@nku.su</a>
            </li>
            <li class="header-contacts__item">
              <a href="tel:+79164441159" class="header-contacts__link">+7-916-444-11-59</a>
            </li>
            <button type="button" class="header__btn">Оставить заявку</button>
          </ul>
        </nav>
      </div>
    </header>
  </head>
</html>

