<section class="overview__section section">
  <div class="overview__container container" id="overview">
    <h2 class="title title__line overview__title">Отзывы</h2>
    <ul class="overview__list">
      <li class="overview__item">
        <div class="video__poster">
          <video class="overview__video" src="" poster=""></video>
        </div>
      </li>
      <li class="overview__item">
        <div class="video__poster video__poster--hd">
          <video class="overview__video" src="" poster=""></video>
        </div>
      </li>
    </ul>
  </div>
</section>
