<section class="section request">
  <div class="container request__container">
    <div class="request__wrapp">
      <h2 class="request__title title title__line">Оставьте заявку</h2>
      <p class="request__text">
        Мы с вами свяжемся и проконсультируем. Рассчитаем стоимость проекта, подберем оборудование,
        отправим коммерческое предложение.
      </p>
    </div>
    <form class="form">
      <label class="form__label">
        <input
          type="text"
          class="form__input form__input-first"
          name="user-name"
          placeholder="Имя"
          required
        />
      </label>
      <label class="form__label">
        <input
          type="tel"
          class="form__input form__input-second"
          name="user-tel"
          placeholder="Номер телефона"
          required
        />
      </label>
      <label class="form__label-file">
        <input type="file" class="form__input-file visually-hidden" name="file" />Прикрепить проект
        <span class="form__wrapp-file">
          <svg class="form__icon-clip">
            <use href="images/sprite.svg#icon-clip"></use>
          </svg>
        </span>
      </label>
      <button type="submit" class="btn">Оставить заявку</button>
    </form>
  </div>
</section>
