.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--background-dark);

  &__text-wrap {
    display: block;
    @include mq(tablet) {
      display: flex;
      /* justify-content: space-around; */
      margin-bottom: 60px;
    }
  }

  @include mq(tablet) {
    padding-top: 90px;
  }

  @include mq(desktop) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @include mq(hd) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__block {
    @include mq(tablet) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);

    font-family: Inter, Sans-Serif;
    @include font(16px, 1.5, bold);

    @include mq(tablet) {
      display: flex;
      align-items: center;
      width: 50%;
      font-family: Inter, Sans-Serif;
      @include font(22px, 1.5, bold);

      &:before {
        display: block;
        content: '';
        width: 30px;
        height: 3px;
        margin-right: 20px;
        background-color: var(--background-btn-normal);
        @include mq(desktop) {
          width: 50px;
        }
      }
    }
    @include mq(desktop) {
      @include font(30px, 1.5, bold);
    }

    @include mq(hd) {
      @include font(40px, 1.5, bold);
    }
  }

  &__list {
    margin-bottom: 15px;

    @include mq(tablet) {
      margin-bottom: 0;
    }

    & li {
      margin-bottom: 10px;
    }
  }

  &__adress {
    @include font(12px, 1.5, normal);
    font-family: Roboto;
    font-style: normal;

    @include mq(tablet) {
      @include font(14px, 1.5, normal);
    }

    @include mq(desktop) {
      @include font(16px, 1.5, normal);
    }

    @include mq(hd) {
      @include font(20px, 1.5, normal);
    }
  }

  &__item-bold {
    margin-right: 10px;
    @include font(12px, 1.21, 600);
    font-family: Inter;
    color: var(--color-title);

    @include mq(tablet) {
      @include font(14px, 1.21, 600);
    }

    @include mq(desktop) {
      @include font(16px, 1.21, 600);
    }

    @include mq(hd) {
      @include font(20px, 1.2, 600);
    }
  }

  &__map /* picture */ {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 360px;

    @include mq(tablet) {
      /* width: 100%; */
      height: 430px;
      margin-bottom: 50px;
    }

    @include mq(desktop) {
      width: 100%;
    }
  }
}

.rekviz {
  @include font(12px, 2, normal);
  text-align: center;

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    @include font(14px, none, none);
  }

  &__title-border {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;

    @include font(12px, 1.25, 600);
    font-family: Inter;
    border: 1px solid var(--color-line);

    @include mq(tablet) {
      @include font(16px, 1.18, 600);
    }

    @include mq(desktop) {
      @include font(20px, 1.2, 600);
    }

    @include mq(hd) {
      @include font(26px, 1.19, 600);
    }
  }

  &__text {
    text-align: left;

    @include mq(desktop) {
      @include font(16px, 2, normal);
      width: 530px;
    }

    @include mq(desktop) {
      @include font(20px, 2, normal);
      width: 635px;
    }
  }
}

/* .contacts.container {
  outline: 1px solid tomato;
} */
